<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="dji drone">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00045012 0.0014743 0.033499"
        rpy="0 0 0" />
      <mass
        value="0.73719" />
      <inertia
        ixx="0.0035866"
        ixy="1.8472E-05"
        ixz="7.2233E-12"
        iyy="0.0010313"
        iyz="-3.563E-11"
        izz="0.0044799" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dji drone/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.98 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dji drone/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link_1">
    <inertial>
      <origin
        xyz="0.0345572088506268 -7.23694866028579E-05 -0.055455397732386"
        rpy="0 0 0" />
      <mass
        value="0.185609211909209" />
      <inertia
        ixx="0.000523062852756492"
        ixy="7.8420320476395E-08"
        ixz="-1.64731504693032E-08"
        iyy="0.000283698252723688"
        iyz="1.78563570785078E-07"
        izz="0.000308732652704659" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dji drone/meshes/Link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dji drone/meshes/Link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_1"
    type="revolute">
    <origin
      xyz="0.16433 -0.1349 0.088374"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link_1" />
    <axis
      xyz="0 0.0072518 0.99997" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link_2">
    <inertial>
      <origin
        xyz="-0.0345571251485287 0.000297409153489081 -0.0554545518705187"
        rpy="0 0 0" />
      <mass
        value="0.185609617076206" />
      <inertia
        ixx="0.00052306294301254"
        ixy="7.83380324675762E-08"
        ixz="1.67919660141335E-08"
        iyy="0.000283700208118103"
        iyz="-2.80119334247063E-07"
        izz="0.000308730865320092" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dji drone/meshes/Link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dji drone/meshes/Link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_2"
    type="revolute">
    <origin
      xyz="-0.1649 -0.13534 0.088369"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link_2" />
    <axis
      xyz="0 -0.01131 0.99994" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link_3">
    <inertial>
      <origin
        xyz="0.033776683815557 0.000277292618304087 -0.0554548023957691"
        rpy="0 0 0" />
      <mass
        value="0.185609653178032" />
      <inertia
        ixx="0.000523062945959249"
        ixy="7.87062665675784E-08"
        ixz="-1.50012305772877E-08"
        iyy="0.000283700386265056"
        iyz="-2.88544353750535E-07"
        izz="0.000308730651378523" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dji drone/meshes/Link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dji drone/meshes/Link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_3"
    type="revolute">
    <origin
      xyz="0.1665 0.1347 0.088371"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link_3" />
    <axis
      xyz="0 -0.011407 0.99993" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link_4">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dji drone/meshes/Link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dji drone/meshes/Link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_4"
    type="revolute">
    <origin
      xyz="-0.1635 0.13466 0.088371"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link_4" />
    <axis
      xyz="0 -0.011407 0.99993" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>